/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i');*/

body{
  background-color: #dae2e4;
}

.w-main{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /*display:flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
}

@media  {
  
}

.warm{
  background-color: deepskyblue;
}

.cold{
  background-color: steelblue;
}

.w-icon{

}
.w-icon img{
  max-width:50%;
  height: auto;
}

.w-city{
  font-size: 1.5em;
  padding-bottom: 2vh;
}

.w-description{
  font-size: 0.8em;
  padding-bottom: 0;
}

.w-temperature{
  padding-bottom: 6vh;
  padding-top: 6vh;
  display:flex;
  justify-content: center;
}
.w-temperature .w-temperature-num{
  font-size:6em;
  line-height: 0.9em;
}
.w-temperature .w-temperature-sign{
  font-size:2em;
}

.w-datetime{
  font-size: 0.8em;
  padding-bottom: 4vh;
}

.w-quote{
  font-size: 1.3em;
  padding: 0 20%;
  font-style: italic;
}

.w-quote .w-quote-title{
  font-size: 0.7em;
  text-align: right;
}

.w-panel{
  position:absolute;
  bottom:15px;
  left:0;
  width:100%;
}

.w-panel-input{
  background-color: white;
  color: black;
}